[Desktop Entry]
Name=sample lcr repo
GenericName=sample lcr repo
Comment=Sample LCR Repo
Exec=sample-lcr-repo
Icon=/usr/lib/lcr/Sample-lcr-repo/sample-lcr-repo-logo.png
Terminal=false
Type=Application
Categories=System;
Keywords=legendary;legendaryos;lcr;sample-lcr-repo;
